{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/goods.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/navigation-goods.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static "deps/js/navigations.js"%}" defer></script>
    <script src="{% static "deps/js/goods.js"%}" defer></script>
{% endblock %}

{% block sidenav %}
	{% for category in categories %}
				<button class="dropdown-btn"><b>&equiv; {{category.name}}</b></button>
				<div class="dropdown-container">
						{% for product in products %}
								{% if product.category == category %}
									<button><b>{{product.name}}</b></button>
								{% endif %}
						{% endfor %}
        </div>
	{% endfor %}

 {% endblock %}
