{% extends 'base.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static "deps/css/jean.css"%}">
{% endblock %}

{% block header %}
        <nav>
            <div class="logo"><a href="index.html">FreshStyle</a></div>
          <ul class="nav-links">
            <li class="dropdown">
              <a>Аккаунт</a>
              <div class="dropdown-content">
                <a href="login.html">Войти</a>
                <a href="registration.html">Регистрация</a>
              </div>
            </li>
            <li><a href="goods.html">Товары</a></li>
            <li><a href="index.html">Главная</a></li>
          </ul>
        </nav>
{% end block %}

{% block main %}
<div class="centered-text"><b>Джинсы</b></div>
{% endblock %}
