{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/registration.css" %}">
{% endblock %}

{% block main %}
        <form>
          <h2>Вход</h2>
          <p>Еще нет аккаунта? <a href="{% url 'users:registration' %}">Создайте</a></p>
          <div>
            <input type="email" id="email" name="email" placeholder="Email" required>
          </div>
          <div>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
          </div>
          <br>
          <input type="submit" value="Войти">
        </form>
{% endblock %}
